.contact-header {
	color: #b4786b;
	text-align: center;
	font-size: 40px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	margin: 10px;
	border-radius: 6px;
	background-color: #293632;
}

.form-label {
	color: #b4786b;
	text-align: center;
	font-size: 25px;
	margin-top: 12px;
}

.form-input {
	padding: 8px;
	margin: 20px;
	border-radius: 6px;
	border-color: #b4786b;
}

.submit-btn {
	padding: 8px;
	margin: 20px;
	border-radius: 6px;
	border-color: #b4786b;
	transition: color 250ms;
	transition: background-color 250ms;
}
.submit-btn:hover {
	background-color: #b4786b;
	cursor: pointer;
	color: white;
}

@media screen and (min-width: 820px) {
	.form-container {
		margin: 0px 220px;
		box-shadow: 10px 5px 5px black;
	}
}
